include _config.pug

doctype html
html(lang="ru")
    head
        // Required meta tags
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        // Bootstrap CSS
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap&subset=cyrillic" rel="stylesheet")
        link(href="css/main.css" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="fullpage.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.css")
        link(rel="icon" type="image/png" href=path_img + "img/favicon-16x16.png" sizes="16x16")
        title Lotos
    body
        include _header.pug
        #fullpage
            .section
                .container
                    .main-content
                        .row.align-items-center
                            .col-md-3.offset-6
                                    block current-screen
                            .w-100
                            .col-md-1.my-auto
                                img.lotos(src=path_img + "img/lotos.png" alt="lotos")
                            .col-md-5
                                .wrapper__yogi-person(style=`background-image:url('../img/screen-01.png')`)
                            .col-md-4.title.pl-5
                                .row.mb-3
                                    p.title__description Центр йоги
                                    p.title__school Lotos
                                .row.invitation
                                    a.col-md-9.offset-md-1.invitation__info(href="#")
                                        p.invitation__title Приглашаем вас и ваших друзей на бесплатное пробное занятие
                            .col-md-1.offset-md-1
                                .row.pager.text-right
                                    .col-md-12
                                        p.pager-current 01
                                    .col-md-12
                                        p.pager-last - 08
                            include _footer.pug
            .section
                .container
                    .main-content
                        .row.align-items-center
                            .col-md-3.offset-6
                                block current-screen
                            .w-100
                            .col-md-1
                                img.lotos(src=path_img + "img/lotos.png" alt="lotos")
                            .col-md-2.align-self-start.position-absolute
                                ul.switcher
                                    li.switcher__item.switcher__item_active: a.switcher__link(href="#") Для начинающих
                                    li.switcher__item: a.switcher__link(href="#") Аштанга Виньяса
                                    li.switcher__item: a.switcher__link(href="#") Универсальная
                                    li.switcher__item: a.switcher__link(href="#") Кундалини
                                    li.switcher__item: a.switcher__link(href="#") Айенгара
                                    li.switcher__item: a.switcher__link(href="#") Терапия
                            .col-md-3.offset-2
                                .wrapper__yogi-person(style=`background-image:url('../img/screen-02.png')`)
                            .col-md-5.info.align-self-start
                                .info__title Yoga —
                                .info__subtitle Для начинающих
                                .row
                                    .col-md-9
                                        p.info__description
                                            | Йога для начинающих рассчитана на тех, кто до этого никогда ей не занимался
                                            | и требует обучения. Такой программный комплекс существует и в нашем центре.
                                    .col-md-9
                                        p.info__description
                                            | Мы предлагаем посетить бесплатное вводное занятие, чтобы узнать, почему так
                                            | много людей занимаются йогой и придерживаются здорового образа жизни.
                                button.button__sign-in
                                    span.button__item +
                                    | Записаться онлайн
                            .col-md-1
                                .row.pager.text-right
                                    .col-md-12
                                        p.pager-current 02
                                    .col-md-12
                                        p.pager-last - 08
                            include _footer.pug
            .section
                .container
                    .main-content
                        .row.align-items-center
                            .col-md-3.offset-6
                                block current-screen
                            .w-100
                            .col-md-1
                                img.lotos(src=path_img + "img/lotos.png" alt="lotos")
                            .col-md-5
                                .wrapper__yogi-person(style=`background-image:url('../img/screen-03.png')`)
                            .col-md-4.discount
                                p.discount__details
                                    span.discount__amount 10%
                                    |  скидка на абонемент
                                p.discount__intro Мы сделаем для ваc 10% скидку на абонемент,
                                    |  купленный в день посещения вводного занятия.
                                form.registry
                                    label.sr-only Ваше имя
                                    input(type="text" placeholder="Ваше имя")
                                    label.sr-only Ваш телефон
                                    input(type="tel" placeholder="Ваш телефон")
                                    .registry-input-group
                                        input.button__sign-in(type="submit" value="Отправить заявку")
                                        i.button__item.fas.fa-envelope
                                p.agreement.discount__agreement Нажимая «Отправить заявку»,
                                    | вы даете согласие на обработку своих персональных данных
                            .col-md-5.alert__notification.offset-md-6.d-none
                                p.alert__thanks Спасибо
                                p.alert__details Мы свяжемся с вами в течение 15 минут...
                            .col-md-1.offset-md-1
                                .row.pager.text-right
                                    .col-md-12
                                        p.pager-current 03
                                    .col-md-12
                                        p.pager-last - 08
                            include _footer.pug
            .section
                .container
                    .main-content
                        .row.align-items-center
                            .col-md-3.offset-6
                                block current-screen
                            .w-100
                            .col-md-1
                                img.lotos(src=path_img + "img/lotos.png" alt="lotos")
                            .col-md-2.align-self-start.position-absolute
                                ul.switcher
                                    li.switcher__item.switcher__item_active.switcher__item_trainer: a.switcher__link(href="#") Максим Казаков
                                    li.switcher__item: a.switcher__link(href="#") Юлия Зырянова
                                    li.switcher__item: a.switcher__link(href="#") Настя Антипова
                                    li.switcher__item: a.switcher__link(href="#") Ольга Ветрова
                                    li.switcher__item: a.switcher__link(href="#") Катя Стреженова
                                    li.switcher__item: a.switcher__link(href="#") Мария Жукова
                            .col-md-3.align-self-start.offset-2
                                .wrapper__yogi-person(style=`background-image:url('../img/screen-04.png')`)
                            .col-md-5.info.align-self-start
                                .info__title.info__title_black Максим Казаков
                                .info__subtitle Преподаватель йоги с 1997 года
                                .row
                                    .col-md-9
                                        p.info__description
                                            | Занимается йогой Айенгара с 1990 года. Является преподавателем йоги Айенгара
                                            | с 1997 года. Имеет международный сертификат Junior I. Проводит семинары,
                                            | занятия разных уровней сложностей.
                                    .col-md-9
                                        p.info__description
                                            | В йогу привел интерес. Является одним из самых опытных преподавателей и
                                            | опорой нашего центра. Все студенты любят Максима за отзывчивость
                                            | и индивидуальный подход к каждому.
                                button.button__sign-in
                                    span.button__item +
                                    | Записаться к тренеру
                            .col-md-1
                                .row.pager.text-right
                                    .col-md-12
                                        p.pager-current 04
                                    .col-md-12
                                        p.pager-last - 08
                            include _footer.pug
            .section
                .container
                    .main-content
                        .row.align-items-center.position-relative
                            .col-md-3.offset-6
                                block current-screen
                            .w-100
                            .col-md-1
                                img.lotos(src=path_img + "img/lotos.png" alt="lotos")
                            .col-md-5
                                .wrapper__yogi-person(style=`background-image:url('../img/screen-05.png')`)
                            .col-md-5.prices
                                ul.prices__list.d-flex.flex-wrap
                                    li.price__card
                                        .price__wrapper
                                            p.price__title Разовое занятие
                                            p.price__item
                                                span.price 300
                                                |  руб.
                                        button.price__button.price__button_active.button__item +
                                    li.price__card
                                        .price__wrapper
                                            p.price__title Месяц занятий
                                            p.price__item
                                                span.price 2 000
                                                |  руб.
                                        button.price__button.button__item +
                                    li.price__card
                                        .price__wrapper
                                            p.price__title 2 месяца занятий
                                            p.price__item
                                                span.price 3 500
                                                |  руб.
                                        button.price__button.button__item +
                                    li.price__card
                                        .price__wrapper
                                            p.price__title 3 месяца занятий
                                            p.price__item
                                                span.price 4 500
                                                |  руб.
                                        button.price__button.button__item +
                                    li.price__card
                                        .price__wrapper
                                            p.price__title Пол года занятий
                                            p.price__item
                                                span.price 8 000
                                                |  руб.
                                        button.price__button.button__item +
                                    .li.price__card
                                        .price__wrapper
                                            p.price__title Год занятий
                                            p.price__item
                                                span.price 14 000
                                                |  руб.
                                        button.price__button.button__item +
                                button.button__sign-in
                                    span.button__item  &#128504;
                                    | Заказать абонемент
                            .col-md-1
                                .row.pager.text-right
                                    .col-md-12
                                        p.pager-current 05
                                    .col-md-12
                                        p.pager-last - 08
                            include _footer.pug
            .section
                .container
                    .main-content
                        .row.align-items-center
                            .col-md-3.offset-6
                                block current-screen
                            .w-100
                            .col-md-1
                                img.lotos(src=path_img + "img/lotos.png" alt="lotos")
                            .col-md-10.schedule
                                table.schedule__table
                                    tr
                                        th.schedule__title.schedule__title_download
                                            button.schedule__download
                                            p.schedule__text Скачать расписание
                                        th.schedule__title_bold 08:00 − 09:25
                                        th.schedule__title_bold 09:30 − 10:55
                                        th.schedule__title_bold 11:00 − 12:25
                                        th.schedule__title_bold 13:30 − 14:55
                                        th.schedule__title_bold 15:00 − 16:25
                                        th.schedule__title_bold 17:00 − 18:25
                                    tr
                                        td.schedule__title_bold Понедельник
                                        td.schedule__title Йога для начинающих
                                        td.schedule__title Универсальная йога
                                        td.schedule__title Йога Айенгара
                                        td.schedule__title Аштанга Виньяса йога
                                        td.schedule__title Йогатерапия
                                        td.schedule__title Кундалини йога
                                    tr
                                        td.schedule__title_bold Вторник
                                        td.schedule__title Кундалини йога
                                        td.schedule__title Йогатерапия
                                        td.schedule__title Аштанга Виньяса йога
                                        td.schedule__title Йога Айенгара
                                        td.schedule__title Универсальная йога
                                        td.schedule__title Йога для начинающих
                                    tr
                                        td.schedule__title_bold Среда
                                        td.schedule__title Универсальная йога
                                        td.schedule__title Йога для начинающих
                                        td.schedule__title Аштанга Виньяса йога
                                        td.schedule__title Йога Айенгара
                                        td.schedule__title Кундалини йога
                                        td.schedule__title Йогатерапия
                                    tr
                                        td.schedule__title_bold Четверг
                                        td.schedule__title Йога для начинающих
                                        td.schedule__title Универсальная йога
                                        td.schedule__title Йога Айенгара
                                        td.schedule__title Аштанга Виньяса йога
                                        td.schedule__title Йогатерапия
                                        td.schedule__title Кундалини йога
                                    tr
                                        td.schedule__title_bold Пятница
                                        td.schedule__title Кундалини йога
                                        td.schedule__title Йогатерапия
                                        td.schedule__title Аштанга Виньяса йога
                                        td.schedule__title Йога Айенгара
                                        td.schedule__title Универсальная йога
                                        td.schedule__title Йога для начинающих
                                    tr
                                        td.schedule__title_bold Суббота
                                        td.schedule__title Универсальная йога
                                        td.schedule__title Йога для начинающих
                                        td.schedule__title Аштанга Виньяса йога
                                        td.schedule__title Йога Айенгара
                                        td.schedule__title Кундалини йога
                                        td.schedule__title Йогатерапия
                                    tr
                                        td.schedule__title_bold Воскресенье
                                        td.schedule__title Йога для начинающих
                                        td.schedule__title Универсальная йога
                                        td.schedule__title Йога Айенгара
                                        td.schedule__title Аштанга Виньяса йога
                                        td.schedule__title Йогатерапия
                                        td.schedule__title Кундалини йога
                            .col-md-1
                                .row.pager.text-right
                                    .col-md-12
                                        p.pager-current 06
                                    .col-md-12
                                        p.pager-last - 08
                            include _footer.pug
            .section
                .container
                    .main-content.clients-screen
                        .row
                            .col-md-3.offset-6
                                block current-screen
                            .w-100
                            .col-md-1.my-auto
                                img.lotos(src=path_img + "img/lotos.png" alt="lotos")
                            .col-md-2.align-self-start.position-absolute
                                ul.switcher
                                    li.switcher__item: a.switcher__link(href="#") Жанна Блиц
                                    li.switcher__item.switcher__item_active.switcher__item_client: a.switcher__link(href="#") Арина Наумова
                                    li.switcher__item: a.switcher__link(href="#") Виталий Коробко
                                    li.switcher__item: a.switcher__link(href="#") Ольга Ветрова
                                    li.switcher__item: a.switcher__link(href="#") Елена Снежная
                                    li.switcher__item: a.switcher__link(href="#") Юлиана Ветрова
                            .col-md-5
                                .wrapper__yogi-person(style=`background-image:url('../img/screen-07.png')`)
                            .col-md-5.info.align-self-start
                                .row.mb-4
                                    .col-md-4
                                        img.client-photo(src=path_img + "img/arina_naumova.png" alt="Арина Наумова")
                                    .col-md-8.d-flex.flex-column.justify-content-md-end
                                        .info__title.info__title_black Арина Наумова
                                        .info__subtitle 34 года
                                .row
                                    .col-md-10
                                        p.info__description
                                            | Не знаю, как остальные, но после занятий йогой хочется начать новую здоровую
                                            | жизнь, хочется поесть овощей и фруктов и поднять свой иммунитет. Теперь для
                                            | меня день занятий йогой — это день здоровья.
                                    .col-md-10
                                        p.info__description
                                            | После упорных занятий я стала меньше болеть, и поняла,
                                            | в чем смысл всех упражнений. Позы получаются элегантно, и не больно только
                                            | тогда, когда не прилагаешь усилия, а остаёшься расслабленным на протяжении всего урока.
                                button.button__sign-in
                                    span.button__item +
                                    | Попробовать тоже
                            .col-md-1.my-auto
                                .row.pager.text-right
                                    .col-md-12
                                        p.pager-current 07
                                    .col-md-12
                                        p.pager-last - 08
                            include _footer.pug
            .section
                .container
                    .main-content
                        .row.align-items-center
                            .col-md-3.offset-6
                                block current-screen
                            .w-100
                            .col-md-1
                                img.lotos(src=path_img + "img/lotos.png" alt="lotos")
                            .col-md-7
                                .wrapper__yogi-person(style=`background-image:url('../img/map.png')`)
                            //.col-md-7.google-map#map
                            .col-md-3.contact
                                p.contact_small Адрес:
                                p.contact__address СПб, Невский проспект 108
                                p.contact_small Email:
                                a.contact__address.d-block.mb-3(href="mailto:lotos-yoga@gmail.com") Lotos-yoga@gmail.com
                                a.contact__map.d-block.position-relative.mb-2(href="https://www.google.com.ua/maps/place" +
                                "/%D0%9D%D0%B5%D0%B2%D1%81%D0%BA%D0%B8%D0%B9+%D0%BF%D1%80.,+108,+%D0%A1%D0%B0%D0%BD%D0%B" +
                                "A%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,+%D0%A0%D0%BE%D1%81%D1%8" +
                                "1%D0%B8%D1%8F,+191025/@59.9319657,30.3565843,17z/data=!4m5!3m4!1s0x469631a4ed2d7173:0x3" +
                                "e6af3e9af92f6e5!8m2!3d59.931955!4d30.3575284?hl=ru") Смотреть на карте
                                button.contact__review.position-relative.mb-4 Оставить отзыв
                                small.contact__copyright.d-block.mb-4 &copy; 2018 — ООО “Центр йоги Лотос”
                                button.button__sign-in
                                    span.button__item +
                                    | Записаться онлайн
                            .col-md-3.d-none
                                form.registry
                                    label.sr-only Ваше имя
                                    input(type="text" placeholder="Ваше имя")
                                    label.sr-only Ваш телефон
                                    input(type="tel" placeholder="Ваш телефон")
                                    .registry-input-group
                                        input.button__sign-in(type="submit" value="Отправить заявку")
                                        i.button__item.fas.fa-envelope
                                p.agreement.discount__agreement Нажимая «Отправить заявку»,
                                    | вы даете согласие на обработку своих персональных данных
                            .col-md-1
                                .row.pager.text-right
                                    .col-md-12
                                        p.pager-current 08
                                    .col-md-12
                                        p.pager-last - 08
                            include _footer.pug

            <!-- This following line is optional. Only necessary if you use the option css3:false and you want to use other easing effects rather than "easeInOutCubic". -->
            script(src=path_js +"js/easings.js")

            <!-- This following line is only necessary in the case of using the option `scrollOverflow:true` -->
            script(type="text/javascript" src=path_js +"js/scrolloverflow.js")

            script(src=path_js + "js/fullpage.js")

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.js")
        script(src=path_js + "/js/fullpage.js")
        //Google Maps
        script(src=path_js + "js/google-map.js")
        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3gtMPTR8Fio53PXqDu0shXT5LMoI3CJw&callback=initMap")





